<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>No</th>
              <th>Date</th>
              <th>Title</th>
              <th>Name member</th>
              <th>Name bank</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>2020-05-06</td>
              <td>Mantap jiwa</td>
              <td>Rena Ayuni</td>
              <td>Bca</td>
              <td>sadas</td>
              <td>sadasdasdas</td>
            </tr>
            <tr>
              <td>2</td>
              <td>2020-05-06</td>
              <td>Mantap jiwa</td>
              <td>Satya wikananda</td>
              <td>Bca</td>
              <td>sadas</td>
              <td>sadasdasdas</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>